body {
    margin: 0;
    padding: 0;
}

.main {
    background-color: aliceblue;
    margin: 70px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.main:hover {
    transform: scale(1.1);
}

.title {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.title h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.my-form {
    display: flex;
    justify-content: center;
}

.my-form form {
    font-style: italic;
}

#name-input {
    font-size: 20px;
    border-radius: 8px;
    padding: 5px;
}

#email-input {
    border-radius: 8px;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
}

#submit-button {
    background-color: beige;
    margin-left: 140px;
    margin-top: 20px;
    border-radius: 10px;
    border-style: none;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#submit-button:hover {
    transform: scale(1.1);
    background-color: cadetblue;

}

.redirect-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.redirect-button a {
    margin-left: 30px;
}

